
@media only screen  
and (max-width : 1100px) {
  .wrapper{
    width:94%;
    margin:0 3%;
  }
}


@media only screen  
and (max-width : 650px) {
  header{
    display:flex;
    flex-direction:column;
  }

  #slogan{
    text-align:center;
  }
}


@media only screen  
and (max-width : 550px) {
  .tableRows .tableRow{

    display:flex;
    flex-direction:column;
    text-align: center;

  }

  .tableRows .tableRow span.price{
    flex:1;
    margin-left:unset;
  }

}